dark_pattern_spotter/dpc_env
dark_pattern_spotter/__pycache__
dark_pattern_classifier/training/models/4_category+non_dp_classifier.pth
dark_pattern_classifier/training/models/6_category_classifier.pth
dark_pattern_classifier/__pycache__