.custom-button {
    display: inline-block;
    width: 515px; 
    padding: 20px 20px;
    background-color: #fff; /* Button background color */
    color: #623CEA; /* Button text color */
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 70px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
  }

  .custom-button:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #623CEA;
  }

body {
    background-color: #0A0908;
}

.main-text {
    width: 950px;
    left: 33px;
    top: 200px;
    position: absolute;
    color: #FE5F00;
    font-size: 90px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    word-wrap: break-word"

}

.rough-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 125px; /* Adjust the space between text and underline */
    }

  .rough-underline:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 200px; /* Adjust the thickness of the underline */
    background: url('underline.png') repeat-x;
    animation: linearwipe 0.5s steps(100, end);
  }


  @keyframes linearwipe{ 
    from { width: 0}
  }  
